<mat-card class="info-card">
    <mat-card-content>
        <mat-grid-list cols="4">
            <mat-grid-tile>
                <div>
                    <p class="center"><strong>{{studentInfo.user.name}}</strong></p>
                    <img src="../../assets/pngfind.com-placeholder-png-6104451.png" class="image"/>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
                <p>
                    {{studentInfo.user.username}}<br>
                    {{studentInfo.user.email}}<br>
                    Year {{studentInfo.year}} <br>
                    {{studentInfo.degree}}
                </p> 
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1">
                <p>
                    <span class="center"><strong>Personal Tutor</strong></span>
                    <span class="center">{{studentInfo.personal_tutor.user.name}}</span>
                    <span class="center">{{studentInfo.personal_tutor.user.email}}</span>
                </p> 
            </mat-grid-tile>
          </mat-grid-list>
    </mat-card-content>
  </mat-card>