<mat-card class="info-card">
    <mat-card-content>
        <mat-grid-list cols="5">
            <mat-grid-tile [colspan]="2">
                <p>
                    <strong>Last Accessed</strong> <br>
                    SPOT: <span *ngIf="lastSpot!='Null'">{{lastSpot | date:'d MMMM y, HH:mm'}}</span><span *ngIf="lastSpot=='Null'">Null</span><br>
                    Blackboard: <span *ngIf="lastBlackboard!='Null'">{{lastBlackboard | date:'d MMMM y, HH:mm'}}</span><span *ngIf="lastBlackboard=='Null'">Null</span><br>
                    Git Push: <span *ngIf="lastGit!='Null'">{{lastGit | date:'d MMMM y, HH:mm'}}</span><span *ngIf="lastGit=='Null'">Null</span>
                </p> 
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1">
                <p>
                    <strong>Engagement Data</strong> <br>
                    Attendance: <span [ngClass]="attendance/100 < 0.5 ? 'red-text' : ''">{{attendance}}%</span><br>
                    Predicted Grade: <span [ngClass]="predictedGrade/100 < 0.5 ? 'red-text' : ''">{{predictedGrade}}%</span><br>
                    <span *ngIf="this.user.tutor" >Concerns: <span [ngClass]="studentInfo.concerns.length > 0 ? 'red-text' : ''">{{studentInfo.concerns.length}}</span></span>
                </p> 
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
                <h3>
                    <strong>Engagement Score</strong> <br>
                    <span class="center" [ngClass]="0 > 1 ? 'red-text' : ''">0.72</span>
                </h3> 
            </mat-grid-tile>
          </mat-grid-list>
    </mat-card-content>
  </mat-card>