<mat-card class="info-card">
    <mat-card-content>
        <mat-grid-list cols="5">
            <mat-grid-tile [colspan]="2">
                <p>
                    <strong>Last Accessed</strong> <br>
                    SPOT: <span *ngIf="lastSpot!='Null'">{{lastSpot | date:'d MMMM y, HH:mm'}}</span><span *ngIf="lastSpot=='Null'">Null</span><br>
                    Blackboard: <span *ngIf="lastBlackboard!='Null'">{{lastBlackboard | date:'d MMMM y, HH:mm'}}</span><span *ngIf="lastBlackboard=='Null'">Null</span><br>
                    Git Push: <span *ngIf="lastGit!='Null'">{{lastGit | date:'d MMMM y, HH:mm'}}</span><span *ngIf="lastGit=='Null'">Null</span>
                </p> 
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1">
                <p>
                    <strong>Engagement Data</strong> <br>
                    Attendance: <span [matTooltip]="attendance/100 < 0.4 ? 'Student attendance is low' : ''" [ngClass]="attendance/100 < 0.4 ? 'red-text' : ''">{{attendance}}%</span><br>
                    Current Grade: <span [matTooltip]="((currentGrade!=null && currentGrade/maxCurrent < 0.4) || gradeReduced==true) ? gradeTooltip(currentGrade, maxCurrent, gradeReduced, unreduced) : ''" [ngClass]="[(currentGrade!=null && currentGrade/maxCurrent < 0.4) ? 'red-text' : '', gradeReduced==true ? 'blue-text' : '']">{{currentGrade}}%</span><br>
                    Max Grade: <span>{{maxCurrent}}%</span><br>
                    Predicted Grade: <span [matTooltip]="predictedGrade/100 < 0.4 ? 'Student predicted grade is a fail' : ''" [ngClass]="predictedGrade/100 < 0.4 ? 'red-text' : ''">{{predictedGrade}}%</span><br>
                   
                </p> 
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
                <h3>
                    <strong>Engagement Score</strong> <br>
                    <span class="center" [matTooltip]="engagement/100 < 0.4 ? 'Student engagement is low' : ''" [ngClass]="engagement/100 < 0.4 ? 'red-text' : ''">{{engagement}}%</span>
                    <span class="center" *ngIf="this.user.tutor" >Concerns:&nbsp; <span [matTooltip]="studentInfo.concerns.length > 0 ? 'Student has concerns reported' : ''" [ngClass]="studentInfo.concerns.length > 0 ? 'red-text' : ''">{{studentInfo.concerns.length}}</span></span>

                </h3> 
            </mat-grid-tile>
          </mat-grid-list>
    </mat-card-content>
  </mat-card>