<mat-toolbar class="title-toolbar">
  <mat-toolbar-row class="title-padding">
    <div *ngIf="studentPageTutor">
      <button mat-icon-button (click)="back()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </div>

    <span class="title-center">Student Management & Engagement System</span>

    <div *ngIf="showMenu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span class="blackText">Logout</span>
        </button>
        <button mat-menu-item (click)="reportConcern()">
          <mat-icon>report</mat-icon>
          <span class="blackText">Report Concern</span>
        </button>
      </mat-menu>
  </div>
  </mat-toolbar-row>
</mat-toolbar>
