mat-spinner {
    margin: auto;
}

.top-padding {
    padding-top: 2%;
}

.student-info {
    position: absolute;
    left: 0;
    width: 48%;
    padding-left: 1%;
    padding-top: 2%;
}
.engagement-info {
    position: absolute;
    right: 0;
    width: 48%;
    padding-right: 1%;
    padding-top: 2%;
}