<div class="wrapper">
    <app-tutor-info [tutor]="tutor" class="tutor-info"></app-tutor-info>
    <app-tutor-requests *ngIf="tutor.tutor.role==='admin'" [tutor]="tutor" class="tutor-requests"></app-tutor-requests>
</div>

<mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start" class="tabs">
    <mat-tab label="Courses" *ngIf="tutor.tutor.course">
        <ng-template matTabContent>
            <app-tutor-courses [tutor]="tutor"></app-tutor-courses>
        </ng-template>
    </mat-tab>
    <mat-tab label="Personal Tutee List">
        <ng-template matTabContent>
            <app-student-list [tutor]="tutor" class="no-margin"></app-student-list>
        </ng-template>
    </mat-tab>
</mat-tab-group>
