mat-list {
    flex-grow: 1;
    overflow: auto;
}

.test {
    height: 200px;
}

.example-viewport {
    height: 105px;
  }
  
.example-item {
    height: 50px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.buttons {
    
}
