.wrapper {
    display: flex;
    flex-direction: row;
}

.line-graph-container {
    width: 60%;
}

.attendance-data {
    width: 40%;
    padding-top: 30px;
}

.courses-expansion {
    display: flex!important;
    justify-content: center!important;
    padding-bottom: 20px;
}

mat-expansion-panel {
    width: 80%;
}

.red-icon {
    color: red;
}

.green-icon {
    color: lightgreen;
}