<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">

<div class="wrapper">
    <div class="attendance-data">
        <div class="courses-expansion" *ngFor="let course of courseAttendanceInfo">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{course.courseData.courseName}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{course.courseData.attendance*100}}% 
                  </mat-panel-description>
                </mat-expansion-panel-header>
            
                <mat-list role="list" *ngFor="let activity of course.courseData.activity">
                  <mat-list-item role="listitem"><strong>{{activity.activity}}: {{activity.attendance*100}}%</strong></mat-list-item>
                  <mat-list-item role="listitem">	
                    <p>Attended: <br>
                    Week: </p>
                    <div *ngFor="let week of activity.weeks; let i = index">
                      <mat-icon class="green-icon" *ngIf="week.attended">square</mat-icon>
                      <mat-icon class="material-icons-outlined red-icon" *ngIf="!week.attended">square</mat-icon>
                      <p class="center">{{i+1}}</p>
                    </div>
                  </mat-list-item>
                </mat-list>
            
              </mat-expansion-panel>
        </div>
    </div>

    <div class="line-graph-container">
        <canvas #lineGraph></canvas>
        <div class="radar-container" *ngIf="user.tutor">
          <canvas #radarGraph></canvas>
        </div>
    </div>

    <!-- <div class="line-graph-container">
  </div> -->
</div>
