<div *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>

<div [hidden]="loading">
    <div>
        <mat-form-field appearance="standard">
            <mat-label>Search</mat-label>
            <input matInput [(ngModel)]="searchValue" (keyup)="filter()" placeholder="Search" #input>
        </mat-form-field>

        <div class="right">
            <mat-form-field appearance="standard">
                <mat-label>Year</mat-label>
                <mat-select [(ngModel)]="selectedYear" name="year" (selectionChange)="filter()">
                  <mat-option *ngFor="let year of years" [value]="year.value">
                    {{year.viewValue}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field appearance="standard">
                <mat-label>Tutor</mat-label>
                <mat-select [(ngModel)]="selectedTutor" name="tutor" (selectionChange)="filter()">
                  <mat-option *ngFor="let tutor of tutors" [value]="tutor.id">
                    {{tutor.user.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let student"> {{student.user.name}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let student"> {{student.user.email}} </td>
            </ng-container>

            <ng-container matColumnDef="year">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
                <td mat-cell *matCellDef="let student"> {{student.year}} </td>
            </ng-container>

            <ng-container matColumnDef="personalTutor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Personal Tutor </th>
                <td mat-cell *matCellDef="let student"> {{student.personal_tutor.user.name}} </td>
            </ng-container>

            <ng-container matColumnDef="attendance">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Attendance </th>
                <td mat-cell *matCellDef="let student" [ngClass]="student.attendance < 0.5 ? 'red-text' : ''"> {{student.attendance}} </td>
            </ng-container>

            <ng-container matColumnDef="currentGrade">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Grade </th>
                <td mat-cell *matCellDef="let student"> {{student.current_grade}} </td>
            </ng-container>

            <ng-container matColumnDef="predictedGrade">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Predicted Grade </th>
                <td mat-cell *matCellDef="let student" [ngClass]="student.predicted_grade < 0.5 ? 'red-text' : ''"> {{student.predicted_grade}} </td>
            </ng-container>

            <ng-container matColumnDef="concerns">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Concerns </th>
                <td mat-cell *matCellDef="let student" [ngClass]="student.concerns_count > 0 ? 'red-text' : ''"> {{student.concerns_count}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header"></tr>
            <tr mat-row (click)="studentClicked(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator [length]="studentList.length"
              [pageSize]="25"
              [pageSizeOptions]="[10, 25, 50, 100]"
              aria-label="Select page">
    </mat-paginator>
</div>