<div *ngIf="loading" class="top-padding">
    <mat-spinner></mat-spinner>
</div>

<div [hidden]="loading">
    <div>
        <mat-form-field appearance="standard">
            <mat-label>Search</mat-label>
            <input matInput [(ngModel)]="searchValue" (keyup)="filter()" placeholder="Search" #input>
        </mat-form-field>

        <div class="right">
            <mat-form-field appearance="standard">
                <mat-label>Year</mat-label>
                <mat-select [(ngModel)]="selectedYear" name="year" (selectionChange)="filter()">
                  <mat-option *ngFor="let year of years" [value]="year.value">
                    {{year.viewValue}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field appearance="standard" *ngIf="tutor.tutor.role!=''">
                <mat-label>Tutor</mat-label>
                <mat-select [(ngModel)]="selectedTutor" name="tutor" (selectionChange)="filter()">
                  <mat-option *ngFor="let tutor of tutors" [value]="tutor.id">
                    {{tutor.user.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let student"> {{student.user.name}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let student"> <a href="{{'mailto:' + student.user.email }}">{{student.user.email}}</a> </td>
            </ng-container>

            <ng-container matColumnDef="year">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-table"> Year </th>
                <td mat-cell *matCellDef="let student" class="center-table"> {{student.year}} </td>
            </ng-container>

            <ng-container matColumnDef="personalTutor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Personal Tutor </th>
                <td mat-cell *matCellDef="let student"> {{student.personal_tutor.user.name}} </td>
            </ng-container>

            <ng-container matColumnDef="attendance">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-table"> Attendance </th>
                <td mat-cell *matCellDef="let student" [matTooltip]="student.engagement.attendance < 0.4 ? 'Student has low attendance' : ''" [ngClass]="student.engagement.attendance < 0.4 ? 'red-text' : ''"class="center-table"> {{student.engagement.attendance*100 | number:'1.0-0'}}% </td>
            </ng-container>

            <ng-container matColumnDef="currentGrade">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-table"> Current Grade </th>
                <td mat-cell *matCellDef="let student" [matTooltip]="(student.engagement.current/student.engagement.max_current < 0.4 || student.engagement.grade_reduced==true) ? gradeTooltip(student.engagement.current, student.engagement.max_current, student.engagement.grade_reduced, student.engagement.grade_before_reduction) : ''" [ngClass]="[student.engagement.current/student.engagement.max_current < 0.4 ? 'red-text' : '', student.engagement.grade_reduced==true ? 'blue-text' : '']" class="center-table"> {{student.engagement.current*100 | number:'1.0-0'}}% </td>
            </ng-container>

            <ng-container matColumnDef="maxCurrentGrade">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-table"> Max Current Grade </th>
                <td mat-cell *matCellDef="let student" class="center-table"> {{student.engagement.max_current*100 | number:'1.0-0'}}% </td>
            </ng-container>

            <ng-container matColumnDef="predictedGrade">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-table"> Predicted Grade </th>
                <td mat-cell *matCellDef="let student" [matTooltip]="student.engagement.predict < 0.4 ? 'Student predicted grade is a fail' : ''" [ngClass]="student.engagement.predict < 0.4 ? 'red-text' : ''" class="center-table"> {{student.engagement.predict*100 | number:'1.0-0'}}% </td>
            </ng-container>

            <ng-container matColumnDef="engagement">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-table"> Engagement </th>
                <td mat-cell *matCellDef="let student" [matTooltip]="student.engagement.engagement < 0.4 ? 'Student has low engagement' : ''" [ngClass]="student.engagement.engagement < 0.4 ? 'red-text' : ''" class="center-table"> {{student.engagement.engagement*100 | number:'1.0-0'}}% </td>
            </ng-container>

            <ng-container matColumnDef="concerns">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-table"> Concerns </th>
                <td mat-cell *matCellDef="let student" [matTooltip]="student.concerns_count > 0 ? 'Student has concerns reported' : ''" [ngClass]="student.concerns_count > 0 ? 'red-text' : ''" class="center-table"> {{student.concerns_count}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header"></tr>
            <tr mat-row (click)="studentClicked(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator [length]="studentList.length"
              [pageSize]="25"
              [pageSizeOptions]="[10, 25, 50, 100]"
              aria-label="Select page">
    </mat-paginator>
</div>