mat-form-field {
    width: 300px;
}

.averages {
    width: 80%;
    margin-left: 10%;
}

.mat-column-name {
    font-weight: bold;
}

td, th {
    vertical-align: middle !important;
    padding-left: 24px!important;
    padding-right: 24px!important;
}

.center-table {
    text-align: center !important;
    vertical-align: middle !important;
    padding-left: 24px!important;
    padding-right: 24px!important;
}

::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content: center !important;
}

.mat-row:not(.expanded-row):hover .mat-cell {
    border-color: currentColor;
}

// tr.example-element-row:not(.example-expanded-row):hover {
//     background: whitesmoke;
//   }
  
//   tr.example-element-row:not(.example-expanded-row):active {
//     background: #efefef;
//   }

.red-text {
    color: red;
    font-weight: bold;
}

.blue-text {
    color: blue;
    font-weight: bold;
}

.student-detail {
    overflow: hidden;
    display: flex;
}

tr.detail-row {
    height: 0;
}

.red-icon {
    color: red;
}

.green-icon {
    color: lightgreen;
}

.wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 40px;
}

.grades-data {
    padding-left: 100px;
    display: flex!important;
    justify-content: center!important;
}

.test {
    width:300px;
}

.bar-container {
    width: 80%;
    display:block;
    margin:0 auto;
}

.info-button {
    color: #6b2c91;
}

.list-pad {
    padding-bottom: 20px;
}


.top-pad {
    padding-top: 20px;
}

.bot-pad {
    padding-bottom: 15px;
}

.less-top {
    margin-top: -50px;
}
  
