<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">

<div class="center">
  <mat-form-field appearance="standard">
      <mat-select [(ngModel)]="selectedCourse" (selectionChange)="courseChanged()">
          <mat-option *ngFor="let course of tutor.tutor.course" [value]="course.id">
            {{course.course_code}} {{course.course_name}}
          </mat-option>
      </mat-select>
  </mat-form-field>
</div>

<div *ngIf="loading" class="top-padding center">
  <mat-spinner></mat-spinner>
</div>

<div [hidden]="loading">
  <mat-card class="averages">
    <mat-card-content>
      <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile>
          <h2>
            Average Attendance <br>
            <span *ngIf="course" class="center">{{course.average_attendance*100 | number:'1.0-0'}}%</span>
          </h2>
        </mat-grid-tile>
        <mat-grid-tile>
          <h2>
            Average Current Grade <br>
            <span *ngIf="course.average_grades" class="center">{{course.average_grades.current*100 | number:'1.0-0'}}%</span>
          </h2>
        </mat-grid-tile>
        <mat-grid-tile>
          <h2>
            Average Predicted Grade <br>
            <span *ngIf="course.average_grades" class="center">{{course.average_grades.predict*100 | number:'1.0-0'}}%</span>
          </h2>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>

  <div class="bar-container">
    <canvas #barGraph class="bar"></canvas>
  </div>

  <div class="center">
    <mat-form-field appearance="standard">
      <mat-label>Search</mat-label>
      <input matInput [(ngModel)]="searchValue" (keyup)="filter()" placeholder="Search" #input>
    </mat-form-field>
  </div>
  
  <div class="center">
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let student"> {{student.user.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let student"> {{student.user.email}} </td>
      </ng-container>
  
      <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
          <td mat-cell *matCellDef="let student"> {{student.year}} </td>
      </ng-container>
  
      <ng-container matColumnDef="personalTutor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Personal Tutor </th>
          <td mat-cell *matCellDef="let student"> {{student.personal_tutor.user.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="attendance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Attendance </th>
          <td mat-cell *matCellDef="let student" [ngClass]="student.studentCourse[0].attendance < 0.5 ? 'red-text' : ''"> {{student.studentCourse[0].attendance*100 | number:'1.0-0'}}% </td>
      </ng-container>
  
      <ng-container matColumnDef="currentGrade">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Grade </th>
          <td mat-cell *matCellDef="let student"> {{student.studentCourse[0].grades.current*100 | number:'1.0-0'}}% </td>
      </ng-container>
  
      <ng-container matColumnDef="predictedGrade">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Predicted Grade </th>
          <td mat-cell *matCellDef="let student" [ngClass]="student.studentCourse[0].grades.predict < 0.5 ? 'red-text' : ''"> {{student.studentCourse[0].grades.predict*100 | number:'1.0-0'}}% </td>
      </ng-container>

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let student">
          <button mat-icon-button aria-label="expand row" (click)="(expandedStudent = expandedStudent === student ? null : student); $event.stopPropagation()">
            <mat-icon *ngIf="expandedStudent !== student">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedStudent === student">keyboard_arrow_up</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let student" [attr.colspan]="displayedColumns.length">
          <div class="student-detail"
               [@detailExpand]="student == expandedStudent ? 'expanded' : 'collapsed'">
            <div class="wrapper">
              <div>
                <mat-list role="list" *ngFor="let activity of student.courseActivity">
                  <mat-list-item role="listitem"><strong>{{activity.activity.activity}}: {{activity.activity.attendance*100 | number:'1.0-0'}}%</strong></mat-list-item>
                  <mat-list-item role="listitem">	
                    <p>Attended: <br>
                    Week: </p>
                    <div *ngFor="let week of activity.activity.weekAttended; let i = index">
                      <mat-icon class="green-icon" *ngIf="week==1">square</mat-icon>
                      <mat-icon class="material-icons-outlined red-icon" *ngIf="week==0">square</mat-icon>
                      <p class="center">{{i+1}}</p>
                    </div>
                  </mat-list-item>
                </mat-list>
              </div>

              <div class="grades-data">
                <div *ngIf="student.courseAssignments.summative.length>0">
                  <h2 class="no-margin center">Summative</h2>
                  <mat-list role="list" *ngFor="let assignment of student.courseAssignments.summative">
                    <mat-list-item role="listitem"><strong>{{assignment.assignment_name}}: {{assignment.grade*100 | number:'1.0-0'}}%</strong></mat-list-item>
                    
                    <mat-list-item role="listitem" *ngIf="assignment.type.includes('assignment')">
                      <p>
                        Date Due: {{assignment.due_date | date:'d MMMM y, HH:mm'}} <br>
                        Date Submitted: <span [ngClass]="assignment.date_submitted>assignment.due_date ? 'red-text' : ''">{{assignment.date_submitted | date:'d MMMM y, HH:mm'}}</span>
                      </p>
                    </mat-list-item>

                    <mat-list-item role="listitem" *ngIf="assignment.type.includes('exam')">
                      <p>
                        Exam Date: {{assignment.due_date | date:'d MMMM y, HH:mm'}}
                      </p>
                    </mat-list-item>
                    
                  </mat-list>
                </div>

                <div *ngIf="student.courseAssignments.formative.length>0">
                  <h2 class="no-margin">Formative</h2>
                  <mat-list role="list" *ngFor="let assignment of student.courseAssignments.formative">
                    <mat-list-item role="listitem"><strong>{{assignment.assignment_name}}: {{assignment.grade*100 | number:'1.0-0'}}%</strong></mat-list-item>
                  
                    <mat-list-item role="listitem" *ngIf="assignment.type.includes('assignment')">
                      <p>
                        Date Due: {{assignment.due_date | date:'d MMMM y, HH:mm'}} <br>
                        Date Submitted: <span [ngClass]="assignment.date_submitted>assignment.due_date ? 'red-text' : ''">{{assignment.date_submitted | date:'d MMMM y, HH:mm'}}</span>
                      </p>
                    </mat-list-item>

                    <mat-list-item role="listitem" *ngIf="assignment.type.includes('exam')">
                      <p>
                        Exam Date: {{assignment.due_date | date:'d MMMM y, HH:mm'}}
                      </p>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
            </div>
            <div class="center" *ngIf="tutor.tutor.role=='admin'">
              <button class="info-button" mat-button (click)="studentInfo(student)">See Student Info</button>
            </div>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.expanded-row]="expandedStudent === row" (click)="expandedStudent = expandedStudent === row ? null : row"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
  </div>

  <div class="center">
    <mat-paginator [length]="students.length"
          [pageSize]="25"
          [pageSizeOptions]="[10, 25, 50, 100]"
          aria-label="Select page">
    </mat-paginator>
  </div>
</div>
