<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">

<div class="center">
  <mat-form-field appearance="standard">
      <mat-select [(ngModel)]="selectedCourse" (selectionChange)="courseChanged()" [disabled]="loading">
          <mat-option *ngFor="let course of courseList" [value]="course.id">
            {{course.course_code}} {{course.course_name}}
          </mat-option>
      </mat-select>
  </mat-form-field>
</div>

<div class="center">
  <mat-form-field appearance="standard">
      <mat-select [(ngModel)]="selectedView" (selectionChange)="viewChanged()" [disabled]="loading || selectedCourse===-1">
          <mat-option *ngFor="let view of viewList" [value]="view.id">
            {{view.assignment_name}} 
          </mat-option>
      </mat-select>
  </mat-form-field>
</div>


<div *ngIf="loading" class="top-padding center">
  <mat-spinner></mat-spinner>
</div>

<div [hidden]="loading || selectedCourse===-1 || selectedView === -1">
  <div [hidden]="selectedView != 0">
    <mat-card class="averages">
      <mat-card-content>
        <mat-grid-list cols="3" rowHeight="100px">
          <mat-grid-tile>
            <h2>
              Average Attendance <br>
              <span *ngIf="course" class="center">{{course.average_attendance*100 | number:'1.0-0'}}%</span>
            </h2>
          </mat-grid-tile>
          <mat-grid-tile>
            <h2>
              Average Current Grade <br>
              <span *ngIf="course.average_grades" class="center">{{course.average_grades.current*100 | number:'1.0-0'}}%</span>
            </h2>
          </mat-grid-tile>
          <mat-grid-tile>
            <h2>
              Average Predicted Grade <br>
              <span *ngIf="course.average_grades" class="center">{{course.average_grades.predict*100 | number:'1.0-0'}}%</span>
            </h2>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  
    <div class="bar-container">
      <canvas #barGraph class="bar"></canvas>
    </div>

    <mat-card *ngIf="statsCurrent && statsPredicted" class="averages">
      <mat-card-content>
        <mat-grid-list cols="4" rowHeight="120px">
          <mat-grid-tile>
            <h3 class="center-text">
              <strong>Current Stats</strong> <br>
              Max: {{statsCurrent.maxCurrent*100 | number:'1.0-0'}}% <br>
              Median: {{statsCurrent.medianCurrent*100 | number:'1.0-0'}}% <br>
              Min: {{statsCurrent.minCurrent*100 | number:'1.0-0'}}%
            </h3>
          </mat-grid-tile>
          <mat-grid-tile>
            <h3 class="center-text">
              Mode: {{statsCurrent.modeCurrent}} <br>
              Mean: {{statsCurrent.meanCurrent*100 | number:'1.0-0'}}% <br>
              Standard Deviation: {{statsCurrent.sdCurrent}}% <br> 
              Variance: {{statsCurrent.varianceCurrent}}%
            </h3>
          </mat-grid-tile>
          <mat-grid-tile>
            <h3 class="center-text">
              <strong>Predicted Stats</strong> <br>
              Max: {{statsPredicted.maxPredicted*100 | number:'1.0-0'}}% <br>
              Median: {{statsPredicted.medianPredicted*100 | number:'1.0-0'}}% <br>
              Min: {{statsPredicted.minPredicted*100 | number:'1.0-0'}}%
            </h3>
          </mat-grid-tile>
          <mat-grid-tile>
            <h3 class="center-text">
              Mode: {{statsPredicted.modePredicted}} <br>
              Mean: {{statsPredicted.meanPredicted*100 | number:'1.0-0'}}% <br>
              Standard Deviation: {{statsPredicted.sdPredicted}}% <br> 
              Variance: {{statsPredicted.variancePredicted}}%
            </h3>
          </mat-grid-tile>        
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  
    <div class="center">
      <mat-form-field appearance="standard">
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="searchValue" (keyup)="filter()" placeholder="Search" #input>
      </mat-form-field>
    </div>
    
    <div class="center">
      <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let student"> {{student.user.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let student"> <a href="{{'mailto:' + student.user.email }}">{{student.user.email}}</a> </td>
        </ng-container>
    
        <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-table"> Year </th>
            <td mat-cell *matCellDef="let student" class="center-table"> {{student.year}} </td>
        </ng-container>
    
        <ng-container matColumnDef="personalTutor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Personal Tutor </th>
            <td mat-cell *matCellDef="let student"> {{student.personal_tutor.user.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="attendance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-table"> Attendance </th>
            <td mat-cell *matCellDef="let student" [matTooltip]="student.studentCourse[0].attendance.attendance < 0.4 ? 'Student has low course attendance' : ''" [ngClass]="student.studentCourse[0].attendance.attendance < 0.4 ? 'red-text' : ''" class="center-table"> {{student.studentCourse[0].attendance.attendance*100 | number:'1.0-0'}}% </td>
        </ng-container>
    
        <ng-container matColumnDef="currentGrade">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-table"> Current Grade </th>
            <td mat-cell *matCellDef="let student" [matTooltip]="(student.studentCourse[0].grades.current/student.studentCourse[0].grades.max_current < 0.4 || student.studentCourse[0].grades.grade_reduced == true || student.studentCourse[0].grades.mit_circs.length>0) ? courseGradeTooltip(student.studentCourse[0].grades) : ''" [ngClass]="[student.studentCourse[0].grades.current/student.studentCourse[0].grades.max_current < 0.4 ? 'red-text' : '', student.studentCourse[0].grades.grade_reduced == true ? 'blue-text' : '', student.studentCourse[0].grades.mit_circs.length>0 ? 'mit-circ' : '']" class="center-table"> {{student.studentCourse[0].grades.current*100 | number:'1.0-0'}}% </td>
        </ng-container>
  
        <ng-container matColumnDef="maxCurrentGrade">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-table"> Max Current Grade </th>
          <td mat-cell *matCellDef="let student" class="center-table"> {{student.studentCourse[0].grades.max_current*100 | number:'1.0-0'}}% </td>
      </ng-container>
    
        <ng-container matColumnDef="predictedGrade">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-table"> Predicted Grade </th>
            <td mat-cell *matCellDef="let student" [matTooltip]="student.studentCourse[0].grades.predict < 0.4 ? 'Student predicted grade is a fail' : ''" [ngClass]="student.studentCourse[0].grades.predict < 0.4 ? 'red-text' : ''" class="center-table"> {{student.studentCourse[0].grades.predict*100 | number:'1.0-0'}}% </td>
        </ng-container>
  
        <ng-container matColumnDef="engagement">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-table"> Engagement </th>
          <td mat-cell *matCellDef="let student" [matTooltip]="student.studentCourse[0].engagement < 0.4 ? 'Student has low course engagement' : ''" [ngClass]="student.studentCourse[0].engagement < 0.4 ? 'red-text' : ''" class="center-table"> {{student.studentCourse[0].engagement*100 | number:'1.0-0'}}% </td>
      </ng-container>
  
        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
          <td mat-cell *matCellDef="let student">
            <button mat-icon-button aria-label="expand row" (click)="(expandedStudent = expandedStudent === student ? null : student); $event.stopPropagation()">
              <mat-icon *ngIf="expandedStudent !== student">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="expandedStudent === student">keyboard_arrow_up</mat-icon>
            </button>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let student" [attr.colspan]="displayedColumns.length">
            <div class="student-detail"
                 [@detailExpand]="student == expandedStudent ? 'expanded' : 'collapsed'">
              <div class="wrapper">
                <div>
                  <mat-list role="list" *ngFor="let activity of student.courseActivity">
                    <mat-list-item role="listitem" class="item"><strong>{{activity.activity.activity}}: {{activity.activity.attendance*100 | number:'1.0-0'}}%</strong></mat-list-item>
                    <mat-list-item role="listitem" class="item">	
                      <p>Attended: <br>
                      Week: </p>
                      <div *ngFor="let week of activity.activity.weekAttended; let i = index">
                        <mat-icon class="green-icon" *ngIf="week==1">square</mat-icon>
                        <mat-icon class="material-icons-outlined red-icon" *ngIf="week==0">square</mat-icon>
                        <p class="center">{{i+1}}</p>
                      </div>
                    </mat-list-item>
                  </mat-list>
                </div>
  
                <div class="grades-data">
                  <div *ngIf="student.courseAssignments.summative.length>0">
                    <h2 class="no-margin center">Summative</h2>
                    <mat-list *ngFor="let assignment of student.courseAssignments.summative">
                      <mat-list-item *ngIf="assignment.final_grade!=null"><strong>{{assignment.assignment_name}}: <span [matTooltip]="((assignment.final_grade!=null && assignment.final_grade < 0.4) || assignment.date_submitted > assignment.due_date || assignment.mitcircs.length>0) ? assignmentGradeTooltip(assignment, assignment.due_date) : ''" [ngClass]="[(assignment.final_grade!=null && assignment.final_grade < 0.4) ? 'red-text' : '', (assignment.date_submitted > assignment.due_date && assignment.c3==false) ? 'blue-text' : '',  assignment.mitcircs.length>0 ? 'mit-circ' : '']">{{assignment.final_grade*100 | number:'1.0-0'}}%</span></strong></mat-list-item>
                      <mat-list-item *ngIf="assignment.final_grade===null && assignment.date_submitted!=null"><strong>{{assignment.assignment_name}}: Not Graded</strong></mat-list-item>
                      <mat-list-item *ngIf="assignment.final_grade===null && assignment.date_submitted===null"><strong>{{assignment.assignment_name}}: Not Submitted</strong></mat-list-item>
  
                      <div *ngIf="assignment.type.includes('assignment')">
                        <mat-list-item>Raw Grade: <span *ngIf="assignment.grade!=null">{{assignment.grade*100 | number:'1.0-0'}}% </span></mat-list-item>
                        <mat-list-item>Weight: {{(assignment.engagement_weight / student.courseAssignments.summativeWeight)*100 | number:'1.0-0'}}%</mat-list-item>
                        <mat-list-item>Date Due: {{assignment.due_date | date:'d MMMM y, HH:mm'}}</mat-list-item>
                        <mat-list-item>Date Submitted: <span *ngIf="assignment.date_submitted!=null" [matTooltip]="assignment.date_submitted>assignment.due_date ? lateDaysTextCalc(assignment.date_submitted,assignment.due_date) : ''" [ngClass]="assignment.date_submitted>assignment.due_date ? 'blue-text' : ''">{{assignment.date_submitted | date:'d MMMM y, HH:mm'}}</span> <span *ngIf="assignment.date_submitted===null" [ngClass]="assignment.date_submitted>assignment.due_date ? 'blue-text' : ''"></span></mat-list-item>
                      </div>

                      <div *ngIf="assignment.type.includes('exam')">
                        <mat-list-item>Weight: {{(assignment.engagement_weight / student.courseAssignments.summativeWeight)*100 | number:'1.0-0'}}%</mat-list-item>
                        <mat-list-item>Exam Date: {{assignment.due_date | date:'d MMMM y, HH:mm'}}</mat-list-item>
                      </div>
                      <div class="bot-pad-less"></div>
                    </mat-list>
                  </div>

                  <div class="bot-pad"></div>
  
                  <div *ngIf="student.courseAssignments.formative.length>0">
                    <h2 class="no-margin">Formative</h2>
                    <mat-list *ngFor="let assignment of student.courseAssignments.formative">
                      <mat-list-item *ngIf="assignment.final_grade!=null"><strong>{{assignment.assignment_name}}: <span [matTooltip]="((assignment.final_grade!=null && assignment.final_grade < 0.4) || assignment.date_submitted > assignment.due_date || assignment.mitcircs.length>0) ? assignmentGradeTooltip(assignment, assignment.due_date) : ''" [ngClass]="[(assignment.final_grade!=null && assignment.final_grade < 0.4) ? 'red-text' : '', (assignment.date_submitted > assignment.due_date && assignment.c3==false) ? 'blue-text' : '',  assignment.mitcircs.length>0 ? 'mit-circ' : '']">{{assignment.final_grade*100 | number:'1.0-0'}}%</span></strong></mat-list-item>
                      <mat-list-item *ngIf="assignment.final_grade===null && assignment.date_submitted!=null"><strong>{{assignment.assignment_name}}: Not Graded</strong></mat-list-item>
                      <mat-list-item *ngIf="assignment.final_grade===null && assignment.date_submitted===null"><strong>{{assignment.assignment_name}}: Not Submitted</strong></mat-list-item>
  
                      <div *ngIf="assignment.type.includes('assignment')">
                        <mat-list-item>Raw Grade: <span *ngIf="assignment.grade!=null">{{assignment.grade*100 | number:'1.0-0'}}%</span></mat-list-item>
                        <mat-list-item>Date Due: {{assignment.due_date | date:'d MMMM y, HH:mm'}}</mat-list-item>
                        <mat-list-item>Date Submitted: <span *ngIf="assignment.date_submitted!=null" [matTooltip]="assignment.date_submitted>assignment.due_date ? lateDaysTextCalc(assignment.date_submitted,assignment.due_date) : ''" [ngClass]="assignment.date_submitted>assignment.due_date ? 'blue-text' : ''">{{assignment.date_submitted | date:'d MMMM y, HH:mm'}}</span> <span *ngIf="assignment.date_submitted===null" [ngClass]="assignment.date_submitted>assignment.due_date ? 'blue-text' : ''"></span></mat-list-item>
                      </div>
                  
                      <div *ngIf="assignment.type.includes('exam')">
                        <mat-list-item>Exam Date: {{assignment.due_date | date:'d MMMM y, HH:mm'}}</mat-list-item>
                      </div>
                      <div class="bot-pad-less"></div>
                    </mat-list>
                  </div>
                  <div class="bot-pad"></div>
                </div>
              </div>
              <div class="center" *ngIf="tutor.tutor.role=='admin'">
                <button class="info-button" mat-button (click)="studentInfo(student)">See Student Info</button>
              </div>
            </div>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.expanded-row]="expandedStudent === row" (click)="expandedStudent = expandedStudent === row ? null : row"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
      </table>
    </div>
  
    <div class="center">
      <mat-paginator [length]="students.length"
            [pageSize]="25"
            [pageSizeOptions]="[10, 25, 50, 100]"
            aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>

<div [hidden]="loading || selectedCourse===-1 || selectedView === -1">
  <div [hidden]="selectedView === 0">
    <mat-card class="averages">
      <mat-card-content>
        <mat-grid-list cols="4" rowHeight="100px">
          <mat-grid-tile>
            <h2 class="center-text">
              Due Date <br>
              <span *ngIf="assignment" class="center">{{assignment.due_date | date:'d MMMM y, HH:mm'}}</span>
            </h2>
          </mat-grid-tile>
          <mat-grid-tile>
            <h2 class="center-text">
              Average Grade <br>
              <span *ngIf="assignment" class="center">{{(assignment.averageGrade)*100 | number:'1.0-0'}}%</span>
            </h2>
          </mat-grid-tile>
          <mat-grid-tile>
            <h2 class="center-text">
              Type <br>
              <span *ngIf="assignment && assignment.type.includes('_f')" class="center">Formative</span>
              <span *ngIf="assignment && assignment.type.includes('_s')" class="center">Summative</span>
            </h2>
          </mat-grid-tile>
          <mat-grid-tile>
            <h2 *ngIf="assignment && assignment.type.includes('_s')">
              Weight <br>
              <span *ngIf="assignment" class="center">{{(assignment.gradeWeight)*100 | number:'1.0-0'}}%</span>
            </h2>
          </mat-grid-tile>
          
        </mat-grid-list>
      </mat-card-content>
    </mat-card>

    <div class="bar-container">
      <canvas #barGraphA class="bar"></canvas>
    </div>

    <mat-card *ngIf="stats" class="averages">
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="120px">
          <mat-grid-tile>
            <h3 class="center-text">
              <strong>Stats</strong> <br>
              Max: {{stats.max*100 | number:'1.0-0'}}% <br>
              Median: {{stats.median*100 | number:'1.0-0'}}% <br>
              Min: {{stats.min*100 | number:'1.0-0'}}%
            </h3>
          </mat-grid-tile>
          <mat-grid-tile>
            <h3 class="center-text">
              Mode: {{stats.mode}} <br>
              Mean: {{stats.mean*100 | number:'1.0-0'}}% <br>
              Standard Deviation: {{stats.sd}}% <br> 
              Variance: {{stats.variance}}%
            </h3>
          </mat-grid-tile>        
        </mat-grid-list>

        <mat-grid-list cols="1" rowHeight="40px">
          <mat-grid-tile>
            <h3 class="center-text">
              Marked: {{marked}} students out of {{total}} ({{(marked/total*100 | number:'1.2-2')}}%)
            </h3>
          </mat-grid-tile>       
        </mat-grid-list>
      </mat-card-content>
    </mat-card>

    <div class="center">
      <mat-form-field appearance="standard">
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="searchValue" (keyup)="filterA()" placeholder="Search" #input>
      </mat-form-field>
    </div>

    <div class="center">
      <table mat-table [dataSource]="dataSourceAssignment" matSort #SortA="matSort" multiTemplateDataRows>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let student"> {{student.user.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let student"> <a href="{{'mailto:' + student.user.email }}">{{student.user.email}}</a> </td>
        </ng-container>
    
        <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-table"> Year </th>
            <td mat-cell *matCellDef="let student" class="center-table"> {{student.year}} </td>
        </ng-container>
    
        <ng-container matColumnDef="personalTutor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Personal Tutor </th>
            <td mat-cell *matCellDef="let student"> {{student.personal_tutor.user.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="dateSubmitted" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="assignment && assignment.type.includes('exam')" class="center-table"> Date Submitted </th>
            <td mat-cell *matCellDef="let student" [matTooltip]="student.date_submitted > assignment.due_date ? lateDaysTextCalc(student.date_submitted, assignment.due_date) : ''" [ngClass]="student.date_submitted > assignment.due_date ? 'blue-text' : ''" [hidden]="assignment && assignment.type.includes('exam')" class="center-table"> {{student.date_submitted | date:'d MMMM y, HH:mm'}} </td>
        </ng-container>
    
        <ng-container matColumnDef="grade">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-table"> Raw Grade </th>
            <td mat-cell *matCellDef="let student" [matTooltip]="(student.grade!=null && student.grade < 0.4) ? 'Grade is a fail' : ''" [ngClass]="(student.grade!=null && student.grade < 0.4) ? 'red-text' : ''" class="center-table"><span *ngIf="student.grade!=null"> {{student.grade*100 | number:'1.0-0'}}% </span> <span *ngIf="student.grade===null">Null</span></td>
        </ng-container>

        <ng-container matColumnDef="final_grade">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-table"> Final Grade </th>
          <td mat-cell *matCellDef="let student" [matTooltip]="((student.final_grade!=null && student.final_grade < 0.4) || student.date_submitted > assignment.due_date || student.mitcircs.length>0) ? assignmentGradeTooltip(student, assignment.due_date) : ''" [ngClass]="[(student.final_grade!=null && student.final_grade < 0.4) ? 'red-text' : '', (student.date_submitted > assignment.due_date && student.c3==false) ? 'blue-text' : '',  student.mitcircs.length>0 ? 'mit-circ' : '']" class="center-table"><span *ngIf="student.final_grade!=null"> {{student.final_grade*100 | number:'1.0-0'}}% </span> <span *ngIf="student.final_grade==null">Null</span></td>
      </ng-container>
      

        <tr mat-header-row *matHeaderRowDef="assignmentColumns" class="header"></tr>
        <tr mat-row *matRowDef="let row; columns: assignmentColumns;"></tr>
      </table>
    </div>
  
    <div class="center">
      <mat-paginator #paginatorA [length]="students.length"
            [pageSize]="25"
            [pageSizeOptions]="[10, 25, 50, 100]"
            aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>
