.wrapper {
    display: flex;
    flex-direction: row;
}

mat-expansion-panel {
    width: 90%;
}

// .mat-expansion-panel-header-description::ng-deep {
//     flex-grow: 0!important;
// }

.grade-data {
    width: 50%;
    padding-top: 30px;
}

.courses-expansion {
    display: flex!important;
    justify-content: center!important;
    padding-bottom: 20px;
}

.red-text {
    color: red;
    font-weight: bold;
}

.blue-text {
    color: blue;
    font-weight: bold;
}

.bar-container {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;;
    width: 50%;
}

.top-pad {
    padding-top: 20px;
}

.bot-pad {
    padding-bottom: 25px;
}

.bot-pad-less {
    padding-bottom: 10px;
}

.less-top {
    margin-top: -50px;
}

.mat-list-item{
    max-height: 20px;
  }