<div class="wrapper">
    <div class="grade-data">
        <div class="courses-expansion" *ngFor="let grade of courseAssignmentInfo">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{grade.course}}
                  </mat-panel-title>
                  <mat-panel-description>
                    Current Grade: {{grade.currentGrade*100 | number:'1.0-0'}}% &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Predicted Grade: {{grade.predictedGrade*100 | number:'1.0-0'}}% 
                  </mat-panel-description>
                </mat-expansion-panel-header>
            
                <div *ngIf="grade.assignments[0].summative.length>0">
                    <h2 class="no-margin">Summative</h2>
                    <mat-list role="list" *ngFor="let assignment of grade.assignments[0].summative" class="bot-pad">
                      <mat-list-item role="listitem" *ngIf="assignment.final_grade!=null"><strong>{{assignment.assignmentName}}: {{assignment.final_grade | number:'1.0-0'}}%</strong></mat-list-item>
                      <mat-list-item role="listitem" *ngIf="assignment.final_grade===null && assignment.submittedDate!=null"><strong>{{assignment.assignmentName}}: Not Graded</strong></mat-list-item>
                      <mat-list-item role="listitem" *ngIf="assignment.final_grade===null && assignment.submittedDate===null"><strong>{{assignment.assignmentName}}: Not Submitted</strong></mat-list-item>
  
                      <mat-list-item role="listitem" *ngIf="assignment.type.includes('assignment')">
                        <p>
                          <br>
                          Raw Grade: <span *ngIf="assignment.grade!=null">{{assignment.grade | number:'1.0-0'}}% </span><br>
                          Weight: {{(assignment.assignmentWeight / grade.assignments[0].summativeWeight)*100 | number:'1.0-0'}}% <br>
                          Date Due: {{assignment.dueDate | date:'d MMMM y, HH:mm'}} <br>
                          Date Submitted: <span *ngIf="assignment.submittedDate!=null" [ngClass]="assignment.submittedDate>assignment.dueDate ? 'blue-text' : ''">{{assignment.submittedDate | date:'d MMMM y, HH:mm'}}</span><span *ngIf="assignment.submittedDate===null"></span>
                          <br>
                        </p>
                      </mat-list-item>

                      <mat-list-item role="listitem" *ngIf="assignment.type.includes('exam')">
                        <p class="less-top">
                          <br>
                          Weight: {{(assignment.assignmentWeight / grade.assignments[0].summativeWeight)*100 | number:'1.0-0'}}% <br>
                          Exam Date: {{assignment.dueDate | date:'d MMMM y, HH:mm'}}
                        </p>
                      </mat-list-item>
                    </mat-list>
                </div>

                <div *ngIf="grade.assignments[0].formative.length>0">
                  <h2 class="no-margin">Formative</h2>
                  <mat-list role="list" *ngFor="let assignment of grade.assignments[0].formative" class="bot-pad">
                    <mat-list-item role="listitem" *ngIf="assignment.final_grade!=null"><strong>{{assignment.assignmentName}}: {{assignment.final_grade | number:'1.0-0'}}%</strong></mat-list-item>
                    <mat-list-item role="listitem" *ngIf="assignment.final_grade===null && assignment.submittedDate!=null"><strong>{{assignment.assignmentName}}: Not Graded</strong></mat-list-item>
                    <mat-list-item role="listitem" *ngIf="assignment.final_grade===null && assignment.submittedDate===null"><strong>{{assignment.assignmentName}}: Not Submitted</strong></mat-list-item>
  
                    <mat-list-item role="listitem" *ngIf="assignment.type.includes('assignment')">
                      <p>
                        <br>
                        Raw Grade: <span *ngIf="assignment.grade!=null">{{assignment.grade | number:'1.0-0'}}% </span><br>
                        Date Due: {{assignment.dueDate | date:'d MMMM y, HH:mm'}} <br>
                        Date Submitted: <span *ngIf="assignment.submittedDate!=null" [ngClass]="assignment.submittedDate>assignment.dueDate ? 'blue-text' : ''">{{assignment.submittedDate | date:'d MMMM y, HH:mm'}}</span><span *ngIf="assignment.submittedDate===null"></span>
                        <br>
                      </p>
                    </mat-list-item>

                    <mat-list-item role="listitem" *ngIf="assignment.type.includes('exam')">
                      <p class="less-top">
                        <br>
                        Exam Date: {{assignment.dueDate | date:'d MMMM y, HH:mm'}}
                      </p>
                    </mat-list-item>
                  </mat-list>
              </div>
            
            </mat-expansion-panel>
        </div>
    </div>

    <div class="bar-container">
      <canvas #barGraph></canvas>
  </div>
</div>
