<div class="wrapper">
    <div class="grade-data">
        <div class="courses-expansion" *ngFor="let grade of courseAssignmentInfo">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{grade.course}}
                  </mat-panel-title>
                  <mat-panel-description>
                    Current Grade: {{grade.currentGrade*100 | number:'1.0-0'}}% &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Predicted Grade: {{grade.predictedGrade*100 | number:'1.0-0'}}% 
                  </mat-panel-description>
                </mat-expansion-panel-header>
            
                <div *ngIf="grade.assignments[0].summative.length>0">
                    <h2 class="no-margin">Summative</h2>
                    <mat-list *ngFor="let assignment of grade.assignments[0].summative">
                        <mat-list-item *ngIf="assignment.final_grade!=null"><strong>{{assignment.assignmentName}}: {{assignment.final_grade | number:'1.0-0'}}%</strong></mat-list-item>
                        <mat-list-item *ngIf="assignment.final_grade===null && assignment.submittedDate!=null"><strong>{{assignment.assignmentName}}: Not Graded</strong></mat-list-item>
                        <mat-list-item *ngIf="assignment.final_grade===null && assignment.submittedDate===null"><strong>{{assignment.assignmentName}}: Not Submitted</strong></mat-list-item>

                        <div *ngIf="assignment.type.includes('assignment')">
                          <mat-list-item>Raw Grade: <span *ngIf="assignment.grade!=null">{{assignment.grade | number:'1.0-0'}}% </span></mat-list-item>
                          <mat-list-item>Weight: {{(assignment.assignmentWeight / grade.assignments[0].summativeWeight)*100 | number:'1.0-0'}}%</mat-list-item>
                          <mat-list-item>Date Due: {{assignment.dueDate | date:'d MMMM y, HH:mm'}} </mat-list-item>
                          <mat-list-item>Date Submitted: <span *ngIf="assignment.submittedDate!=null" [matTooltip]="assignment.submittedDate>assignment.dueDate ? lateDaysTextCalc(assignment.submittedDate,assignment.dueDate) : ''" [ngClass]="assignment.submittedDate>assignment.dueDate ? 'blue-text' : ''">{{assignment.submittedDate | date:'d MMMM y, HH:mm'}}</span><span *ngIf="assignment.submittedDate===null"></span></mat-list-item>
                        </div>

                        <div *ngIf="assignment.type.includes('exam')">
                          <mat-list-item>Weight: {{(assignment.assignmentWeight / grade.assignments[0].summativeWeight)*100 | number:'1.0-0'}}%</mat-list-item>
                          <mat-list-item>Exam Date: {{assignment.dueDate | date:'d MMMM y, HH:mm'}}</mat-list-item>
                        </div>
                        <div class="bot-pad-less"></div>
                    </mat-list>
                </div>

                <div class="bot-pad"></div>

                <div *ngIf="grade.assignments[0].formative.length>0">
                  <h2 class="no-margin">Formative</h2>
                  <mat-list *ngFor="let assignment of grade.assignments[0].formative">
                    <mat-list-item *ngIf="assignment.final_grade!=null"><strong>{{assignment.assignmentName}}: {{assignment.final_grade | number:'1.0-0'}}%</strong></mat-list-item>
                    <mat-list-item *ngIf="assignment.final_grade===null && assignment.submittedDate!=null"><strong>{{assignment.assignmentName}}: Not Graded</strong></mat-list-item>
                    <mat-list-item *ngIf="assignment.final_grade===null && assignment.submittedDate===null"><strong>{{assignment.assignmentName}}: Not Submitted</strong></mat-list-item>
  
                    <div *ngIf="assignment.type.includes('assignment')">
                      <mat-list-item>Raw Grade: <span *ngIf="assignment.grade!=null">{{assignment.grade | number:'1.0-0'}}% </span></mat-list-item>
                      <mat-list-item>Date Due: {{assignment.dueDate | date:'d MMMM y, HH:mm'}} </mat-list-item>
                      <mat-list-item>Date Submitted: <span *ngIf="assignment.submittedDate!=null" [matTooltip]="assignment.submittedDate>assignment.dueDate ? lateDaysTextCalc(assignment.submittedDate,assignment.dueDate) : ''" [ngClass]="assignment.submittedDate>assignment.dueDate ? 'blue-text' : ''">{{assignment.submittedDate | date:'d MMMM y, HH:mm'}}</span><span *ngIf="assignment.submittedDate===null"></span></mat-list-item>
                    </div>
                
                    <div *ngIf="assignment.type.includes('exam')">
                      <mat-list-item>Exam Date: {{assignment.dueDate | date:'d MMMM y, HH:mm'}}</mat-list-item>
                    </div>
                    <div class="bot-pad-less"></div>
                  </mat-list>
              </div>

              <div class="bot-pad"></div>
            
            </mat-expansion-panel>
        </div>
    </div>

    <div class="bar-container">
      <canvas #barGraph></canvas>
  </div>
</div>
