<div class="wrapper">
    <div class="grade-data">
        <div class="courses-expansion" *ngFor="let grade of courseAssignmentInfo">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{grade.course}}
                  </mat-panel-title>
                  <mat-panel-description>
                    Current Grade: {{grade.currentGrade*100 | number:'1.0-0'}}% &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Predicted Grade: {{grade.predictedGrade*100 | number:'1.0-0'}}% 
                  </mat-panel-description>
                </mat-expansion-panel-header>
            
                <div *ngIf="grade.assignments[0].summative.length>0">
                    <h2 class="no-margin">Summative</h2>
                    <mat-list role="list" *ngFor="let assignment of grade.assignments[0].summative">
                      <mat-list-item role="listitem" *ngIf="assignment.grade!=null"><strong>{{assignment.assignmentName}}: {{assignment.grade}}%</strong></mat-list-item>
                      <mat-list-item role="listitem" *ngIf="assignment.grade===null"><strong>{{assignment.assignmentName}}: Not Due</strong></mat-list-item>

                      
                      <mat-list-item role="listitem" *ngIf="assignment.type.includes('assignment')">
                        <p>
                          <br>
                          Weight: {{(assignment.assignmentWeight / grade.assignments[0].summativeWeight)*100 | number:'1.0-0'}}% <br>
                          Date Due: {{assignment.dueDate | date:'d MMMM y, HH:mm'}} <br>
                          Date Submitted: <span *ngIf="assignment.grade!=null" [ngClass]="assignment.submittedDate>assignment.dueDate ? 'red-text' : ''">{{assignment.submittedDate | date:'d MMMM y, HH:mm'}}</span><span *ngIf="assignment.grade===null"></span>
                        </p>
                      </mat-list-item>

                      <mat-list-item role="listitem" *ngIf="assignment.type.includes('exam')">
                        <p>
                          <br>
                          Weight: {{(assignment.assignmentWeight / grade.assignments[0].summativeWeight)*100 | number:'1.0-0'}}% <br>
                          Exam Date: {{assignment.dueDate | date:'d MMMM y, HH:mm'}}
                        </p>
                      </mat-list-item>
                      
                    </mat-list>
                </div>

                <div *ngIf="grade.assignments[0].formative.length>0">
                  <h2 class="no-margin top-pad">Formative</h2>
                  <mat-list role="list" *ngFor="let assignment of grade.assignments[0].formative">
                    <mat-list-item role="listitem" *ngIf="assignment.grade!=null"><strong>{{assignment.assignmentName}}: {{assignment.grade}}%</strong></mat-list-item>
                    <mat-list-item role="listitem" *ngIf="assignment.grade===null"><strong>{{assignment.assignmentName}}: Not Due</strong></mat-list-item>

                    <mat-list-item role="listitem" *ngIf="assignment.type.includes('assignment')">
                      <p class="bot-pad">
                        Date Due: {{assignment.dueDate | date:'d MMMM y, HH:mm'}} <br>
                        Date Submitted: <span *ngIf="assignment.grade!=null" [ngClass]="assignment.submittedDate>assignment.dueDate ? 'red-text' : ''">{{assignment.submittedDate | date:'d MMMM y, HH:mm'}}</span><span *ngIf="assignment.grade===null"></span>
                      </p>
                    </mat-list-item>

                    <mat-list-item role="listitem" *ngIf="assignment.type.includes('exam')">
                      <p>
                        Exam Date: {{assignment.dueDate | date:'d MMMM y, HH:mm'}}
                      </p>
                    </mat-list-item>
                  </mat-list>
              </div>
            
              </mat-expansion-panel>
        </div>
    </div>

    <div class="bar-container">
      <canvas #barGraph></canvas>
  </div>
</div>
