/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center {
    display: flex;
    justify-content: center;
}

.center-text {
    text-align: center;
}

.no-padding {
    padding: none;
}

.no-margin {
    margin: 0 0 0 0!important;
}

.center-text {
    text-align: center;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #6b2c91!important;
}

.concern-list-class {
    width: 35%;
}

span {
    white-space: pre-wrap;
}